*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 2em;
    font-family: monospace;
}
h3{
    margin-top: 2em;
    font-family: monospace;
    color: #3e8c94;
}
p{
    padding-left: 10px;
}
section{
    height: 12em;
    background-color: #fbfaf9;
    border-radius: 8px;
    box-shadow: 1px 0px 13px 0px grey;
    padding-left: 12px;
    padding-top: 1px;
}
button{
    cursor: pointer;
    width: 13em;
    height: 3em;
    background-color: #805f00;
    color: white;
    border: 0;
    border-radius: 2px;
    margin-left: 31%;
    cursor: pointer;
}
.botao7{
    width: 13em;
    height: 3em;
    background-color: #805f00;
    color: white;
    border: 0;
    border-radius: 2px;
    margin-left: 31%;
    cursor: pointer;
}
#digitado7{
    height: 50px;
}
#caixa{
    margin: 0 auto;
    width: 34em;

}