*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}
header{
    background-color: #dddddd;
    width: 1170px;
    height: 320px;
    padding-right: 36px;
    margin-bottom: 19px;
    padding-top: 9px;
    padding-left: 16px;
}
article{
    background-color: #bbbbbb;
}
aside{
    background-color: #ddd;
    width: 370px;
    height: 720px;
    float: left;
    margin-right: 29px;
}
section{
    background-color: #ddd;
    width: 575px;
    height: 490px;
    float: left;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 18px;
}
main{
    background-color: #ddd;
    width: 1170px;
    height: 720px;
    clear: both;
    padding: 7%;
}
footer{
    background-color: #ddd;
    width: 1170px;
    height: 200px;
    clear: both;
}
#article1{
    width: 300px;
    height: 300px;
    float: left;
}
#article2{
    width: 800px;
    height: 90px;
    float: left;
    margin-left: 17px;
}
.div1{
    background-color: #bbbbbb;
    width: 70px;
    height: 100px;
    float: right;
    margin-top: 105px;
    margin-left: 20px;
}
.div2{
    background-color: #bbbbbb;
    width: 365px;
    height: 545px;
    float: left;
    margin-left: 96px;
}
.div3{
    background-color: #ddd;
    width: 270px;
    height: 330px;
    float: left;
    margin-right: 30px;
    margin-top: 21px;
    margin-bottom: 16px;
}
#caixa{
    width: 1170px;
    /* height: 3305px; */
    height: 2830px;
    margin: 0 auto;

}
