/* 

sintaxe:
elemento{
    propriedade: valor;
}
*/
#titulo1, #titulo2{
    color: #e0744a;
    text-align: center;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}
#titulo2{
    color: black;
    font-size: 30px;   
    font-family: 'Kaushan Script', cursive;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    background-color: greenyellow;
}
#paragrafo1, #paragrafo2{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Gaegu', cursive; */
    font-family: 'Gaegu', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'VT323', monospace;
}
#paragrafo2{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
.grupo1, .grupo2{
    font-size: 20px;
    text-align: center;
}
.grupo2{
    font-size: 15px;
    font-style: italic;
    font-family: 'Gaegu', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'IBM Plex Mono', monospace;
}